// List specific elements
// =====================================================================================================================

.c-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  //overflow: hidden;
}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__filter {
  width: 100%;
  //margin-bottom: 1rem;
}

.c-list__filter-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: $color_orange_50;
  border: 1px solid $color_orange_100;
  border-radius: 2px;
}

.c-list__filter-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr) );
  grid-template-rows: 3rem;
  grid-auto-rows: 3rem;
  grid-gap: 2rem;
  position: relative;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
}

.c-list__filter-actions {
  display: flex;
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  flex-direction: row-reverse;

  & > * + * {
    margin-right: 0.5rem;
  }

}

.c-list__filter-cell {
  display: flex;
  position: relative;
  flex-direction: column;
}

.c-list__filter-input {
  z-index: 2;
  display: flex;
  order: 2;
  flex: 1;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid $color_orange_A200;
  transition: border-color 0.25s ease-in-out;

  &:focus {
    border-bottom-color: $color_orange_A400;

    & + .c-list__filter-label {
      color: $color_orange_A400;
    }

  }

}

.c-list__filter-label {
  z-index: 1;
  display: flex;
  order: 1;
  height: 1.5rem;
  padding: 0 0.25rem;
  align-items: center;
  font-size: $font_size_small;
  text-transform: uppercase;
  color: $color_orange_A200;
  transition: color 0.25s ease-in-out;
}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__presets {
  display: flex;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  align-items: center;
}

.c-list__presets-item {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 2rem;
  margin-right: 1px;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: $font_size_small;
  color: $font_color_light;

  &::after {
    display: block;
    position: absolute;
    top: 15%;
    right: -1px;
    width: 1px;
    height: 70%;
    content: '';
    background-color: $font_color_lighter;
  }

}

.c-list__presets-item.is-active {
  color: $color_orange_A400;

  & .c-list__presets-item-label {
    color: $color_orange_A400;
  }

}

.c-list__presets-item-label {
  display: inline-flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $font_color_default;
  }

}

.c-list__presets-item-remove {
  display: inline-flex;
  width: auto;
  height: auto;
  margin-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  fill: $font_color_light;
  //border: 1px solid $color_gray_200;
  transition: fill 0.25s ease-in-out;

  & svg {
    width: $svg_small;
    height: $svg_small;
  }

  &:hover {
    fill: $font_color_default;
  }


}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__header {
  display: grid;
  width: 100%;
  grid-auto-rows: 3rem;
  grid-template-rows: 3rem;
  color: $font_color_light;
  border-top: 2px solid $color_gray_400;
  border-bottom: 2px solid $color_gray_400;
}

.c-list__header-item {
  display: flex;
  position: relative;
  padding: 0 0.5rem;
  overflow: hidden;
  align-items: center;
  user-select: none;
  font-weight: bold;
}

.c-list__header-item-sort {
  display: flex;
  position: relative;
  height: 2rem;
  align-items: center;
  font-weight: bold;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $font_color_default;
  }

}

.c-list__header-item-sort-label {
  //border: 1px solid blue;
}

.c-list__header-item-sort-icons {
  display: flex;
  position: relative;
  width: $svg_small;
  height: $svg_small;
  margin-left: 0.5rem;

  & span {
    display: flex;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    fill: $font_color_light;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  & span:nth-child(1) {}

  & span:nth-child(2) {}

  & span svg {
    width: 100%;
    height: 100%;
  }

}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__content {
  width: 100%;
}

.c-list__content-row {
  display: grid;
  position: relative;
  width: 100%;
  grid-auto-rows: 3rem;
  grid-template-rows: 3rem;
  border-bottom: 1px solid $color_gray_100;
  transition: border-bottom-color 0.2s ease-in-out;

  &:nth-last-child(1){
    margin-bottom: 2rem;
  }

  &:hover {
    border-bottom-color: $color_gray_300;
  }

}

.c-list__content-row--success {

  & .c-list__row-item:nth-child(1) {
    background-color: $color_green_50;
  }

}

.c-list__content-row--accent {

  & .c-list__row-item:nth-child(1) {
    background-color: $color_orange_50;
  }

}

.c-list__content-row--alert {

  & .c-list__row-item:nth-child(1) {
    background-color: $color_red_50;
  }

}

.c-list__row-item {
  display: flex;
  position: relative;
  user-select: text;
  padding: 0 0.5rem;
  overflow: hidden;
  align-items: center;

  & > * + * {
    margin-left: 0.5rem;
  }

  // Mobile item label
  & span {
    display: none;
    padding: 0.2rem;
    margin-right: 0.5rem;
    justify-content: center;
  }

}

.c-list__row-item-icon {
  display: inline-flex;
  width: $svg_small;
  height: $svg_small;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  & svg {
    width: 100%;
    height: 100%;
  }

}

.c-list__row-item-icon--success {
  fill: $color_green_500;
}

.c-list__row-item-icon--alert {
  fill: $color_red_500;
}

.c-list__no-results {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  color: $font_color_light;
}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__alarm-btn {
  fill: $color_red_500;

  & svg {
    width: $svg_small;
    height: $svg_small;
  }

}

.c-list__status-indicator {

  & svg {
    width: $svg_small;
    height: $svg_small;
  }

  &.is-success {
    fill: $color_success;
  }

  &.is-alert {
    fill: $color_alert;
  }

}

// ---------------------------------------------------------------------------------------------------------------------

.c-list__pagination {
  display: flex;
  width: 100%;
  min-height: 3rem;
  padding: 0 1rem;
  align-items: center;
}

.c-list__pagination-pages {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.c-list__pagination-per_page {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: $font_size_small;

  & span {
    margin-left: 0.5rem;
  }

}

.c-list__pagination-pages-item {
  display: flex;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 1px;
  justify-content: center;
  align-items: center;
  background-color: $color_gray_50;
  border-radius: 1px;
  border: 1px solid $color_border_list;
  cursor: pointer;

  // Shadow element
  &::before {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 1px;
    box-shadow: $shadow_layout_elements;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

}

.c-list__pagination-pages-item.is-active {
  border-color: $color_blue_gray_200;
}

.c-list__pagination-pages-item:hover {
  border-color: $color_blue_gray_200;

  &::before {
    opacity: 1;
  }

}

.c-list__pagination-per_page span:hover {
  text-decoration: underline;
  cursor: pointer;
}

// ---------------------------------------------------------------------------------------------------------------------
// Specific list formating

.c-list--programs .c-list__content-row,
.c-list--programs .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr);
}

.c-list--units .c-list__content-row,
.c-list--units .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr) minmax(10rem,1fr);
}

.c-list--students .c-list__content-row,
.c-list--students .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr) minmax(5rem,1fr) minmax(10rem,1fr);
}

.c-list--invoices .c-list__content-row,
.c-list--invoices .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr);
}

.c-list--staff .c-list__content-row,
.c-list--staff .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr);
}

.c-list--groups .c-list__content-row,
.c-list--groups .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(5rem,1fr) minmax(10rem,1fr);
}

.c-list--group-assigned-students .c-list__content-row,
.c-list--group-assigned-students .c-list__header,
.c-list--group-assigned-training .c-list__content-row,
.c-list--group-assigned-training .c-list__header
{
  grid-template-columns: minmax(15rem,1fr) minmax(15rem,1fr) minmax(5rem,1fr) minmax(10rem,1fr) minmax(40rem,1fr);
}

.c-list--training .c-list__content-row,
.c-list--training .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr);
}

.c-list--mail .c-list__content-row,
.c-list--mail .c-list__header {
  grid-template-columns: minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr) minmax(10rem,1fr);
}



// ---------------------------------------------------------------------------------------------------------------------
// States

.c-list__content-row.is-inactive,
.c-list__content-row.is-inactive .c-list__row-item:nth-child(1) {
  color: $font_color_lighter;
}

.c-list__content-row.is-read {
  color: $font_color_light;
}

.c-list__header-item-sort.is-main_sorting {

  & .c-list__header-item-sort-icons span:nth-child(1) {
    opacity: 1;
  }

}

.c-list__header-item-sort.is-alt_sorting {

  & .c-list__header-item-sort-icons span {
    fill: $font_color_lighter;
  }

  & .c-list__header-item-sort-icons span:nth-child(1) {
    opacity: 1;
  }

}

.c-list__header-item-sort.is-ascending {

  & .c-list__header-item-sort-icons span:nth-child(1) {
    opacity: 0;
  }

  & .c-list__header-item-sort-icons span:nth-child(2) {
    opacity: 1;
  }

}

// =====================================================================================================================
// Media queries

@media screen and (max-width: 1359px) {

  .c-list__header {
    display: none;
    border: 1px solid red;
  }

  // Small devices cell label
  .c-list__row-item span {
    display: inline-flex;
  }

  .c-list__content-row,
  .c-list__header {
    grid-template-columns: 1fr !important;
  }

}
