<div class="c-page">

  <div class="c-page__header">

    <div class="c-page__header-title">CLIENTS</div>

    <div class="c-page__header-item h-buttonize" title="Filter toggle"
         [inlineSVG]="'/assets/svg/font_awesome/filter-solid.svg'"
         [class.is-active]="filterOpen"
         (click)="filterOpen = !filterOpen">

    </div>

  </div>

  <div class="c-page__content">

    <div class="c-list c-list--staff">

      <div class="c-list__filter" *ngIf="filterOpen" @filterFade>

        <div class="c-list__filter-form">

          <div class="c-list__filter-section">

            <div class="c-list__filter-cell">
              <input class="c-list__filter-input" type="text" name="name" [(ngModel)]="filterData.name">
              <label class="c-list__filter-label">Name</label>
            </div>

            <div class="c-list__filter-cell">
              <input class="c-list__filter-input" type="text" name="email" [(ngModel)]="filterData.email">
              <label class="c-list__filter-label">Email</label>
            </div>

            <div class="c-list__filter-cell" *can="'filterActive'">
              <select class="c-list__filter-input" name="isActive" [(ngModel)]="filterData.isActive">
                <option value="">Any</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <label class="c-list__filter-label">Active</label>
            </div>

          </div>

          <div class="c-list__filter-actions">
            <button class="c-btn c-btn--type-1 c-btn--accent-1" (click)="applyFilter()">SEARCH</button>
            <button class="c-btn c-btn--type-1 c-btn--accent-1" (click)="saveFilter()">SAVE</button>
          </div>

        </div>

      </div>

      <div class="c-list__presets">
        <!-- Click events go on .c-list__presets-item-label and on .c-list__presets-item-remove as well -->

        <div class="c-list__presets-item" [class.is-active]="activeFilter == 'default'">
          <div class="c-list__presets-item-label c-btn" (click)="applyDefaultFilter()">DEFAULT</div>
        </div>

        <div class="c-list__presets-item" [class.is-active]="activeFilter == 'last_used'"
             *ngIf="getLastFilter() != null">
          <div class="c-list__presets-item-label c-btn" (click)="applyLastUsedFilter()">LAST USED</div>
        </div>


        <div class="c-list__presets-item" [class.is-active]="activeFilter == filter.name"
             *ngFor="let filter of pageFilters">
          <div class="c-list__presets-item-label c-btn" (click)="applySavedFilter(filter.name, filter.value)">
            {{filter.name}}
          </div>
          <div class="c-list__presets-item-remove c-btn"
               [inlineSVG]="'/assets/svg/font_awesome/times-solid.svg'"
               (click)="deleteFilter(filter.id)"></div>
        </div>

      </div>

      <div class="c-list__header">

        <div class="c-list__header-item">
          <div class="c-list__header-item-sort h-buttonize" list-sort
               [filter]="filterData"
               [name]="'clients.firstname'"
               (click)="sortItems('clients.firstname', $event)">
            <div class="c-list__header-item-sort-label">NAME</div>
            <div class="c-list__header-item-sort-icons">
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-up-solid.svg'"></span>
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-down-solid.svg'"></span>
            </div>
          </div>
        </div>

        <div class="c-list__header-item">
          <div class="c-list__header-item-sort h-buttonize" list-sort
               [filter]="filterData"
               [name]="'clients.username'"
               (click)="sortItems('clients.username', $event)">
            <div class="c-list__header-item-sort-label">PRODUCT</div>
            <div class="c-list__header-item-sort-icons">
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-up-solid.svg'"></span>
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-down-solid.svg'"></span>
            </div>
          </div>
        </div>

        <div class="c-list__header-item">
          <div class="c-list__header-item-sort h-buttonize" list-sort
               [filter]="filterData"
               [name]="'clients.email'"
               (click)="sortItems('clients.email', $event)">
            <div class="c-list__header-item-sort-label">EMAIL</div>
            <div class="c-list__header-item-sort-icons">
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-up-solid.svg'"></span>
              <span [inlineSVG]="'/assets/svg/font_awesome/arrow-down-solid.svg'"></span>
            </div>
          </div>
        </div>


        <div class="c-list__header-item"  *can="'filterActive'">Active</div>

        <div class="c-list__header-item h-flex_row_align--right">
          <button class="c-btn c-btn--type-2"
                  [inlineSVG]="'/assets/svg/font_awesome/plus-solid.svg'" (click)="showForm()"></button>
        </div>

      </div>

      <div class="c-list__content" *ngIf="items.length > 0">

        <div class="c-list__content-row" [class.is-inactive]="false" *ngFor="let item of items">

          <div class="c-list__row-item">{{item.firstname}} {{item.lastname}}</div>
          <div class="c-list__row-item">{{item.product?.name}}</div>
          <div class="c-list__row-item">{{item.email}}</div>
          <div class="c-list__row-item"  *can="'filterActive'">
            {{item.is_active}}
          </div>
          <div class="c-list__row-item h-flex_row_align--right">
            <button class="c-btn c-btn--type-1 c-btn--accent-1" (click)="showUser(item.id)">VIEW</button>
            <button class="c-btn c-btn--type-1 c-btn--accent-1" *can="'delete'" (click)="deleteUser(item.id)">DELETE</button>
          </div>
        </div>

      </div>

      <div class="c-list__no-results" *ngIf="items.length == 0">NO RESULTS</div>

      <app-template-pagination></app-template-pagination>

    </div>

  </div>

</div>
