// Define all the colors used in the app
// =====================================================================================================================

// TEMP DESIGN COLOR PALETTES

$color_1: #292b2c;
$color_2: #7b5ac3;
$color_3: #0275d8;
$color_4: #5cb85c;
$color_5: #5bc0de;
$color_6: #f0ad4e;
$color_7: #d9534f;
$color_8: #f7f7f7;


// MATERIAL DESIGN COLOR PALETTES

// Basic
$color_black: #000000;
$color_white: #FFFFFF;

// Gray
$color_gray_50: #FAFAFA;
$color_gray_100: #F5F5F5;
$color_gray_200: #EEEEEE;
$color_gray_300: #E0E0E0;
$color_gray_400: #BDBDBD;
$color_gray_500: #9E9E9E;
$color_gray_600: #757575;
$color_gray_700: #616161;
$color_gray_800: #424242;
$color_gray_900: #212121;

// Blue gray
$color_blue_gray_50: #ECEFF1;
$color_blue_gray_100: #CFD8DC;
$color_blue_gray_200: #B0BEC5;
$color_blue_gray_300: #90A4AE;
$color_blue_gray_400: #78909C;
$color_blue_gray_500: #607D8B;
$color_blue_gray_600: #546E7A;
$color_blue_gray_700: #455A64;
$color_blue_gray_800: #37474F;
$color_blue_gray_900: #263238;

// Red
$color_red_50: #FFEBEE;
$color_red_100: #FFCDD2;
$color_red_200: #EF9A9A;
$color_red_300: #E57373;
$color_red_400: #EF5350;
$color_red_500: #F44336;
$color_red_600: #E53935;
$color_red_700: #D32F2F;
$color_red_800: #C62828;
$color_red_900: #B71C1C;
$color_red_A100: #FF8A80;
$color_red_A200: #FF5252;
$color_red_A400: #FF1744;
$color_red_A700: #D50000;

// Pink
$color_pink_50: #FCE4EC;
$color_pink_100: #F8BBD0;
$color_pink_200: #F48FB1;
$color_pink_300: #F06292;
$color_pink_400: #EC407A;
$color_pink_500: #E91E63;
$color_pink_600: #D81B60;
$color_pink_700: #C2185B;
$color_pink_800: #AD1457;
$color_pink_900: #880E4F;
$color_pink_A100: #FF80AB;
$color_pink_A200: #FF4081;
$color_pink_A400: #F50057;
$color_pink_A700: #C51162;

// Purple
$color_purple_50: #F3E5F5;
$color_purple_100: #E1BEE7;
$color_purple_200: #CE93D8;
$color_purple_300: #BA68C8;
$color_purple_400: #AB47BC;
$color_purple_500: #9C27B0;
$color_purple_600: #8E24AA;
$color_purple_700: #7B1FA2;
$color_purple_800: #6A1B9A;
$color_purple_900: #4A148C;
$color_purple_A100: #EA80FC;
$color_purple_A200: #E040FB;
$color_purple_A400: #D500F9;
$color_purple_A700: #AA00FF;

// Deep purple
$color_deep_purple_50: #EDE7F6;
$color_deep_purple_100: #D1C4E9;
$color_deep_purple_200: #B39DDB;
$color_deep_purple_300: #9575CD;
$color_deep_purple_400: #7E57C2;
$color_deep_purple_500: #673AB7;
$color_deep_purple_600: #5E35B1;
$color_deep_purple_700: #512DA8;
$color_deep_purple_800: #4527A0;
$color_deep_purple_900: #311B92;
$color_deep_purple_A100: #B388FF;
$color_deep_purple_A200: #7C4DFF;
$color_deep_purple_A400: #651FFF;
$color_deep_purple_A700: #6200EA;

// Indigo
$color_indigo_50: #E8EAF6;
$color_indigo_100: #C5CAE9;
$color_indigo_200: #9FA8DA;
$color_indigo_300: #7986CB;
$color_indigo_400: #5C6BC0;
$color_indigo_500: #3F51B5;
$color_indigo_600: #3949AB;
$color_indigo_700: #303F9F;
$color_indigo_800: #283593;
$color_indigo_900: #1A237E;
$color_indigo_A100: #8C9EFF;
$color_indigo_A200: #536DFE;
$color_indigo_A400: #3D5AFE;
$color_indigo_A700: #304FFE;

// Blue
$color_blue_50: #E3F2FD;
$color_blue_100: #BBDEFB;
$color_blue_200: #90CAF9;
$color_blue_300: #64B5F6;
$color_blue_400: #42A5F5;
$color_blue_500: #2196F3;
$color_blue_600: #1E88E5;
$color_blue_700: #1976D2;
$color_blue_800: #1565C0;
$color_blue_900: #0D47A1;
$color_blue_A100: #82B1FF;
$color_blue_A200: #448AFF;
$color_blue_A400: #2979FF;
$color_blue_A700: #2962FF;

// Light blue
$color_light_blue_50: #E1F5FE;
$color_light_blue_100: #B3E5FC;
$color_light_blue_200: #81D4FA;
$color_light_blue_300: #4FC3F7;
$color_light_blue_400: #29B6F6;
$color_light_blue_500: #03A9F4;
$color_light_blue_600: #039BE5;
$color_light_blue_700: #0288D1;
$color_light_blue_800: #0277BD;
$color_light_blue_900: #01579B;
$color_light_blue_A100: #80D8FF;
$color_light_blue_A200: #40C4FF;
$color_light_blue_A400: #00B0FF;
$color_light_blue_A700: #0091EA;

// Cyan
$color_cyan_50: #E0F7FA;
$color_cyan_100: #B2EBF2;
$color_cyan_200: #80DEEA;
$color_cyan_300: #4DD0E1;
$color_cyan_400: #26C6DA;
$color_cyan_500: #00BCD4;
$color_cyan_600: #00ACC1;
$color_cyan_700: #0097A7;
$color_cyan_800: #00838F;
$color_cyan_900: #006064;
$color_cyan_A100: #84FFFF;
$color_cyan_A200: #18FFFF;
$color_cyan_A400: #00E5FF;
$color_cyan_A700: #00B8D4;

// Teal
$color_teal_50: #E0F2F1;
$color_teal_100: #B2DFDB;
$color_teal_200: #80CBC4;
$color_teal_300: #4DB6AC;
$color_teal_400: #26A69A;
$color_teal_500: #009688;
$color_teal_600: #00897B;
$color_teal_700: #00796B;
$color_teal_800: #00695C;
$color_teal_900: #004D40;
$color_teal_A100: #A7FFEB;
$color_teal_A200: #64FFDA;
$color_teal_A400: #1DE9B6;
$color_teal_A700: #00BFA5;

// Green
$color_green_50: #E8F5E9;
$color_green_100: #C8E6C9;
$color_green_200: #A5D6A7;
$color_green_300: #81C784;
$color_green_400: #66BB6A;
$color_green_500: #4CAF50;
$color_green_600: #43A047;
$color_green_700: #388E3C;
$color_green_800: #2E7D32;
$color_green_900: #1B5E20;
$color_green_A100: #B9F6CA;
$color_green_A200: #69F0AE;
$color_green_A400: #00E676;
$color_green_A700: #00C853;

// Lignt green
$color_light_green_50: #F1F8E9;
$color_light_green_100: #DCEDC8;
$color_light_green_200: #C5E1A5;
$color_light_green_300: #AED581;
$color_light_green_400: #9CCC65;
$color_light_green_500: #8BC34A;
$color_light_green_600: #7CB342;
$color_light_green_700: #689F38;
$color_light_green_800: #558B2F;
$color_light_green_900: #33691E;
$color_light_green_A100: #CCFF90;
$color_light_green_A200: #B2FF59;
$color_light_green_A400: #76FF03;
$color_light_green_A700: #64DD17;

// Lime
$color_lime_50: #F9FBE7;
$color_lime_100: #F0F4C3;
$color_lime_200: #E6EE9C;
$color_lime_300: #DCE775;
$color_lime_400: #D4E157;
$color_lime_500: #CDDC39;
$color_lime_600: #C0CA33;
$color_lime_700: #AFB42B;
$color_lime_800: #9E9D24;
$color_lime_900: #827717;
$color_lime_A100: #F4FF81;
$color_lime_A200: #EEFF41;
$color_lime_A400: #C6FF00;
$color_lime_A700: #AEEA00;

// Yellow
$color_yellow_50: #FFFDE7;
$color_yellow_100: #FFF9C4;
$color_yellow_200: #FFF59D;
$color_yellow_300: #FFF176;
$color_yellow_400: #FFEE58;
$color_yellow_500: #FFEB3B;
$color_yellow_600: #FDD835;
$color_yellow_700: #FBC02D;
$color_yellow_800: #F9A825;
$color_yellow_900: #F57F17;
$color_yellow_A100: #FFFF8D;
$color_yellow_A200: #FFFF00;
$color_yellow_A400: #FFEA00;
$color_yellow_A700: #FFD600;

// Amber
$color_amber_50: #FFF8E1;
$color_amber_100: #FFECB3;
$color_amber_200: #FFE082;
$color_amber_300: #FFD54F;
$color_amber_400: #FFCA28;
$color_amber_500: #FFC107;
$color_amber_600: #FFB300;
$color_amber_700: #FFA000;
$color_amber_800: #FF8F00;
$color_amber_900: #FF6F00;
$color_amber_A100: #FFE57F;
$color_amber_A200: #FFD740;
$color_amber_A400: #FFC400;
$color_amber_A700: #FFAB00;

// Orange
$color_orange_50: #FFF3E0;
$color_orange_100: #FFE0B2;
$color_orange_200: #FFCC80;
$color_orange_300: #FFB74D;
$color_orange_400: #FFA726;
$color_orange_500: #FF9800;
$color_orange_600: #FB8C00;
$color_orange_700: #F57C00;
$color_orange_800: #EF6C00;
$color_orange_900: #E65100;
$color_orange_A100: #FFD180;
$color_orange_A200: #FFAB40;
$color_orange_A400: #FF9100;
$color_orange_A700: #FF6D00;

// Deep orange
$color_deep_orange_50: #FBE9E7;
$color_deep_orange_100: #FFCCBC;
$color_deep_orange_200: #FFAB91;
$color_deep_orange_300: #FF8A65;
$color_deep_orange_400: #FF7043;
$color_deep_orange_500: #FF5722;
$color_deep_orange_600: #F4511E;
$color_deep_orange_700: #E64A19;
$color_deep_orange_800: #D84315;
$color_deep_orange_900: #BF360C;
$color_deep_orange_A100: #FF9E80;
$color_deep_orange_A200: #FF6E40;
$color_deep_orange_A400: #FF3D00;
$color_deep_orange_A700: #DD2C00;

// Brown
$color_brown_50: #EFEBE9;
$color_brown_100: #D7CCC8;
$color_brown_200: #BCAAA4;
$color_brown_300: #A1887F;
$color_brown_400: #8D6E63;
$color_brown_500: #795548;
$color_brown_600: #6D4C41;
$color_brown_700: #5D4037;
$color_brown_800: #4E342E;
$color_brown_900: #3E2723;


