.l-login {
  margin: auto;
  width: 300px;
  border: 1px solid black;
  padding: 30px;
}
.input-group {
  margin: 10px 0;

}
.input-group label{
  font-style: italic;
  font-size: 10px;
}
.input-group input {
  background-color: transparent;
  border-bottom: 1px dotted;
  padding-bottom:1px;
  min-height: 15px;
  height: 15px;
  margin-top:10px;
}

.button-login {
  background-color: #FFA726;

  border: 1px solid;
  border-radius: 3px;
  padding: 5px 10px;
}

.button-login:hover {
  background-color: #ffbc59;

}